# CLion / JetBrains IDE folder
.idea/

# CMake Build directories (Never commit your compiled .exe files!)
cmake-build-debug/
cmake-build-release/
build/
out/


# Ignore Chess bin
data/*.bin
data/*.rtbw
data/*.rtbz
data/*.rtb*